.standardForm {
  width: 50%;
}

.largeForm {
  width: 60%;
}

.creditCard {
  width: 500px;
  height: 300px;
  perspective: 1000px;
}

.creditCardOutline {
  height: 100%;
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.creditCard:hover .creditCardOutline {
  transform: rotateY(180deg);
}

.flip-creditCard-front,
.flip-creditCard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-creditCard-front {
  user-select: none;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
}

.flip-creditCard-back {
  background-image: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
  border-radius: 15px;
  color: white;
  transform: rotateY(180deg);
}

.cardBrand {
  height: 30px;
  width: auto;
  margin: 2% 0% 0% 80%;
  user-select: none;
  min-height: 30px;
}

.cardChip {
  height: 50%;
  width: auto;
  margin: 0% 30% 0% 0%;
  user-select: none;
}

.cardNumber {
  color: black;
  border: 1px solid black;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
  text-align: left;
  margin: 0% 30% 0% 5%;
  min-height: 26px;
}

.expiration {
  font-size: 20px;
  font-weight: bold;
  width: 20%;
  margin: -7% 0% 0% 83%;
  text-align: left;
  color: black;
  min-height: 25px;
}

.cardHolder {
  color: black;
  font-size: 25px;
  margin: 5% 0% 0% 8%;
  padding: 10px 10px 10px 10px;
  text-align: left;
}
